.comicCard {
  background-color: #e2e2e2;
  opacity: 0.9;
  width: 50vw;
  justify-items: center;
  margin: 25px 0 25px 0;
  padding: 15px;
  border: 12px double #7b141b;
}

.dayList {
  width: 98vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 0 0;
}

.dayItems {
  background-color: #222222;
  color: #e2e2e2;
}

@media (max-width: 767px) {
  .comicCard {
    width: 80vw;
    font-size: 10px;
  }

  .dayList {
    width: 100vw;
  }
}
