.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #0d00a4;
  height: 5vh;
  align-items: center;
}

.footerLink {
  color: #e2e2e2;
  text-decoration: none;
}

@media (max-width: 767px) {
  .footerLink {
    font-size: 10px;
  }
  .footer {
    height: 36px;
  }
}
