.addForm {
  display: grid;
  grid-template-rows: 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh;
  grid-template-columns: 100vw;
  justify-content: center;
  align-content: space-around;
  height: 70vh;
}

#publisher {
  width: 25vw;
  justify-self: center;
  grid-row: 1 / 2;
  background-color: #7b141b;
  color: #e2e2e2;
}

#hiddenPublisher {
  width: 24vw;
  justify-self: center;
  background-color: #7b141b;
  color: #e2e2e2;
}

#comicTitle {
  width: 25vw;
  justify-self: center;
  background-color: #7b141b;
  color: #e2e2e2;
}

#hiddenTitle {
  width: 24vw;
  justify-self: center;
  background-color: #7b141b;
  color: #e2e2e2;
}

#issue {
  width: 24vw;
  justify-self: center;
  background-color: #7b141b;
  color: #e2e2e2;
}

#plot {
  width: 40vw;
  justify-self: center;
  grid-row: 7/8;
  height: 15vh;
  background-color: #7b141b;
  color: #e2e2e2;
}

#submit {
  width: 75px;
  height: 30px;
  justify-self: center;
  grid-row: 9/ 10;
  background-color: #0d00a4;
  color: #e2e2e2;
}
