.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2e2e2;
  margin-top: 30vh;
}

.introParagraph {
  width: 50vw;
}

@media (max-width: 767px) {
  .intro {
    font-size: 10px;
    margin-top: 22vh;
  }
}
