#links {
  display: grid;
  grid-template-rows: 15vh 15vh 15vh 15vh 15vh;
  justify-content: center;
  align-content: space-around;
}

.contactLinks {
  text-decoration: none;
  color: #e2e2e2;
}

.linkBox {
  align-self: center;
  /* align-content: center; */
  width: 20vw;
  padding: 3vh 0 3vh 0;
  background-color: #7b141b;
  border: 10px double #0d00a4;
}

@media (max-width: 767px) {
  .linkBox {
    width: 80vw;
    font-size: 10px;
    margin-top: 25vh;
  }

  .titleContainer {
    width: 100vw;
  }
}
