.nav {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 0;
}

.navDiv {
  background-color: #0197f6;
}

li {
  color: black;
}

Link {
  text-decoration: none;
}
