.nav {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 0;
}

.navDiv {
  background-color: #0d00a4;
  align-items: center;
}

.navButton {
  /* color: black; */
  color: #e2e2e2;
}

@media (max-width: 767px) {
  .navButton {
    font-size: 12px;
  }
  .nav {
    margin: 1vh;
  }
}
