.comicList {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px 0 10px 0;
  padding: 0;
}

.comicItem {
  text-decoration: none;
  border: 1px solid black;
  margin: 25px;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: #5fad41;
  opacity: 0.9;
}

.comicTitle {
  text-align: center;
  color: #0d00a4;
  text-decoration: none;
}

.comicLink {
  text-decoration: none;
}

@media (max-width: 767px) {
  .comicTitle {
    font-size: 10px;
  }

  .comicList {
    grid-template-columns: 1fr 1fr;
  }
}
