.monthDiv {
  display: grid;
  justify-content: center;
  grid-template-columns: 100vw;
}

#showDay {
  width: 75px;
  height: 30px;
  justify-self: center;
  grid-row: 8/ 9;
  background-color: #0d00a4;
  color: #e2e2e2;
  outline: none;
}

.dayDisplay {
  background-color: #e2e2e2;
}

.calendarTitle {
  background-color: #e2e2e2;
}

@media (max-width: 768px) {
  .tileFill {
    font-size: 8px;
    margin: 0;
  }
}
