.titleCard {
  background-color: #e2e2e2;
  width: 50vw;
  justify-items: center;
  margin: 25px 0 25px 0;
  padding: 15px;
}

.titleContainer {
  width: 98vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
