.App {
  text-align: center;
  display: grid;
  grid-template-rows: 10vh 5vh 80vh 5vh;
  grid-template-columns: 100vw;
  justify-content: center;
  background-image: url(./assets/background.jpeg);
  background-size: cover;
  background-position: center;
  align-items: ;
}

#title {
  grid-row: 1/ 2;
  font-family: "Bangers", cursive;
  font-size: 69px;
  margin: 0;
}

#nav {
  grid-row: 2/ 3s;
}

.pageTitle {
  background-color: #222222;
  height: 10vh;
  color: #e2e2e2;
}
