.App {
  text-align: center;
  display: grid;
  grid-template-rows: 10vh 5vh 80vh 5vh;
  grid-template-columns: 100vw;
  justify-content: center;
  background-image: url(./assets/background.jpeg);
  background-size: cover;
  background-position: center;
}

#title {
  grid-row: 1/ 2;
}

#nav {
  grid-row: 2/ 3s;
}
